USE [master]
GO
/****** Object:  Database [ElectionDB]    Script Date: 30-11-2025 21:10:10 ******/
CREATE DATABASE [ElectionDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ElectionDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ElectionDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ElectionDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ElectionDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElectionDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElectionDB]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 30-11-2025 21:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[adminid] [int] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[createdat] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[adminid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auditlog]    Script Date: 30-11-2025 21:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auditlog](
	[logid] [int] NOT NULL,
	[action] [varchar](50) NOT NULL,
	[actorid] [int] NOT NULL,
	[actortype] [varchar](50) NOT NULL,
	[description] [varchar](max) NULL,
	[timestamp] [datetime2](7) NOT NULL,
	[voterid] [int] NOT NULL,
	[adminid] [int] NOT NULL,
 CONSTRAINT [PK_auditlog] PRIMARY KEY CLUSTERED 
(
	[logid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[candidate]    Script Date: 30-11-2025 21:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[candidate](
	[candidateid] [int] NOT NULL,
	[fullname] [varchar](50) NOT NULL,
	[party] [varchar](50) NOT NULL,
	[biography] [varchar](max) NULL,
	[photourl] [varchar](50) NOT NULL,
	[electionid] [int] NOT NULL,
	[resultid] [int] NOT NULL,
 CONSTRAINT [PK_candidate] PRIMARY KEY CLUSTERED 
(
	[candidateid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[election]    Script Date: 30-11-2025 21:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[election](
	[electionid] [int] NOT NULL,
	[title] [varchar](50) NOT NULL,
	[description] [varchar](max) NULL,
	[startdate] [date] NOT NULL,
	[enddate] [date] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[adminid] [int] NOT NULL,
 CONSTRAINT [PK_election] PRIMARY KEY CLUSTERED 
(
	[electionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[electionresult]    Script Date: 30-11-2025 21:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[electionresult](
	[resultid] [int] NOT NULL,
	[totalvotes] [int] NOT NULL,
	[electionid] [int] NOT NULL,
	[candidateid] [int] NOT NULL,
 CONSTRAINT [PK_electionresult] PRIMARY KEY CLUSTERED 
(
	[resultid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vote]    Script Date: 30-11-2025 21:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vote](
	[voteid] [int] NOT NULL,
	[votetime] [datetime2](7) NOT NULL,
	[nota] [int] NOT NULL,
	[voterid] [int] NOT NULL,
	[electionid] [int] NOT NULL,
	[candidateid] [int] NOT NULL,
 CONSTRAINT [PK_vote] PRIMARY KEY CLUSTERED 
(
	[voteid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voter]    Script Date: 30-11-2025 21:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voter](
	[voterid] [int] NOT NULL,
	[fullname] [varchar](50) NOT NULL,
	[email] [varchar](30) NOT NULL,
	[dob] [date] NOT NULL,
	[nationalid] [varchar](50) NOT NULL,
	[registereddate] [date] NOT NULL,
	[password] [varchar](30) NOT NULL,
	[address] [varchar](50) NOT NULL,
	[age] [int] NOT NULL,
	[gender] [varchar](30) NOT NULL,
	[phone] [varchar](50) NOT NULL,
 CONSTRAINT [PK_voter] PRIMARY KEY CLUSTERED 
(
	[voterid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_VoteFullDetails]    Script Date: 30-11-2025 21:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_VoteFullDetails]
AS
SELECT
    v.voteid,
    v.votetime,
    v.nota,

    vt.voterid,
    vt.fullname       AS voter_name,
    vt.email          AS voter_email,
    vt.dob,
    vt.nationalid,
    vt.registereddate,
    vt.age,
    vt.gender,
    vt.phone,

    c.candidateid,
    c.fullname        AS candidate_name,
    c.party,
    c.photourl,

    e.electionid,
    e.title           AS election_title,
    e.[description]   AS election_description,
    e.startdate,
    e.enddate,
    e.[status],

    er.resultid,
    er.totalvotes,
    er.candidateid    AS winner_candidateid,

    a.adminid,
    a.username        AS admin_username,
    a.email           AS admin_email,

    al.logid,
    al.[action]       AS audit_action,
    al.actorid,
    al.actortype,
    al.[description]  AS audit_description,
    al.[timestamp]    AS audit_timestamp
FROM vote v
JOIN voter vt
    ON vt.voterid = v.voterid
JOIN candidate c
    ON c.candidateid = v.candidateid
JOIN election e
    ON e.electionid = v.electionid
JOIN electionresult er
    ON er.electionid = e.electionid
JOIN [admin] a
    ON a.adminid = e.adminid
LEFT JOIN auditlog al
    ON al.voterid = vt.voterid;
GO
/****** Object:  View [dbo].[vw_ElectionSummary]    Script Date: 30-11-2025 21:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ElectionSummary]
AS
SELECT
    e.electionid,
    e.title              AS election_title,
    e.startdate,
    e.enddate,
    e.[status],

    a.adminid,
    a.username           AS admin_username,
    a.email              AS admin_email,

    er.resultid,
    er.totalvotes        AS stored_totalvotes,   -- from electionresult table

    c.candidateid        AS winner_candidateid,
    c.fullname           AS winner_name,
    c.party              AS winner_party,

    COUNT(v.voteid)                                      AS actual_total_votes,
    SUM(CASE WHEN v.candidateid = c.candidateid 
             THEN 1 ELSE 0 END)                         AS actual_winner_votes
FROM election e
JOIN [admin] a
    ON a.adminid = e.adminid
JOIN electionresult er
    ON er.electionid = e.electionid
JOIN candidate c
    ON c.candidateid = er.candidateid      -- winner for that election
LEFT JOIN vote v
    ON v.electionid = e.electionid
GROUP BY
    e.electionid,
    e.title,
    e.startdate,
    e.enddate,
    e.[status],
    a.adminid,
    a.username,
    a.email,
    er.resultid,
    er.totalvotes,
    c.candidateid,
    c.fullname,
    c.party;
GO
/****** Object:  Index [IX_electionresult_electionid]    Script Date: 30-11-2025 21:10:10 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_electionresult_electionid] ON [dbo].[electionresult]
(
	[electionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[auditlog]  WITH CHECK ADD  CONSTRAINT [FK_auditlog_admin] FOREIGN KEY([adminid])
REFERENCES [dbo].[admin] ([adminid])
GO
ALTER TABLE [dbo].[auditlog] CHECK CONSTRAINT [FK_auditlog_admin]
GO
ALTER TABLE [dbo].[auditlog]  WITH CHECK ADD  CONSTRAINT [FK_auditlog_voter] FOREIGN KEY([voterid])
REFERENCES [dbo].[voter] ([voterid])
GO
ALTER TABLE [dbo].[auditlog] CHECK CONSTRAINT [FK_auditlog_voter]
GO
ALTER TABLE [dbo].[candidate]  WITH CHECK ADD  CONSTRAINT [FK_candidate_election] FOREIGN KEY([electionid])
REFERENCES [dbo].[election] ([electionid])
GO
ALTER TABLE [dbo].[candidate] CHECK CONSTRAINT [FK_candidate_election]
GO
ALTER TABLE [dbo].[candidate]  WITH CHECK ADD  CONSTRAINT [FK_candidate_electionresult] FOREIGN KEY([resultid])
REFERENCES [dbo].[electionresult] ([resultid])
GO
ALTER TABLE [dbo].[candidate] CHECK CONSTRAINT [FK_candidate_electionresult]
GO
ALTER TABLE [dbo].[election]  WITH CHECK ADD  CONSTRAINT [FK_election_admin] FOREIGN KEY([adminid])
REFERENCES [dbo].[admin] ([adminid])
GO
ALTER TABLE [dbo].[election] CHECK CONSTRAINT [FK_election_admin]
GO
ALTER TABLE [dbo].[electionresult]  WITH CHECK ADD  CONSTRAINT [FK_electionresult_election] FOREIGN KEY([electionid])
REFERENCES [dbo].[election] ([electionid])
GO
ALTER TABLE [dbo].[electionresult] CHECK CONSTRAINT [FK_electionresult_election]
GO
ALTER TABLE [dbo].[vote]  WITH CHECK ADD  CONSTRAINT [FK_vote_candidate] FOREIGN KEY([candidateid])
REFERENCES [dbo].[candidate] ([candidateid])
GO
ALTER TABLE [dbo].[vote] CHECK CONSTRAINT [FK_vote_candidate]
GO
ALTER TABLE [dbo].[vote]  WITH CHECK ADD  CONSTRAINT [FK_vote_election] FOREIGN KEY([electionid])
REFERENCES [dbo].[election] ([electionid])
GO
ALTER TABLE [dbo].[vote] CHECK CONSTRAINT [FK_vote_election]
GO
ALTER TABLE [dbo].[vote]  WITH CHECK ADD  CONSTRAINT [FK_vote_voter] FOREIGN KEY([voterid])
REFERENCES [dbo].[voter] ([voterid])
GO
ALTER TABLE [dbo].[vote] CHECK CONSTRAINT [FK_vote_voter]
GO
USE [master]
GO
